.projects-container {
    height: 500px;
    /* background-color: rgba(0,0,0,0.5); */
}


.project-card {
    text-align: center;
    box-shadow: (3px 5px 9px rgb(110, 110, 110));
    margin-bottom: 2em;
    
}

.project-card button {
    margin: auto 1em;
}

.projects-container h3 {
    text-align: center;
}

.project-title {
    color: white;
}

.proj-details {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
}

.proj-btn {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: .3em 1em;
    border-radius: 5px;
    width: 15em;
}

.proj-btn:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
}

.card-text {
    margin-bottom: 5px;
    font-weight: 300;
}

@media screen and (max-width: 300px) {
    .proj-btn {
        width: 10em;
    }
}