.hero {
  margin-top: 0;
  padding: 210px 0 100px 0;
  filter: drop-shadow(2px 4px 8px rgb(189, 189, 189))

}

.hero .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  border: 1px solid rgba(17, 17, 17, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  filter: drop-shadow(2px 4px 8px rgb(137, 137, 137))

}
.hero h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  filter: drop-shadow(2px 4px 8px rgb(171, 171, 171))

}

.hero p {
  color: #606060;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.hero button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.hero button:hover svg {
  margin-left: 25px;
}

@media screen and (max-width: 600px) {
  .hero {
    padding: 225px 0 100px 0;
  }

  .hero h1 {
    font-size: 2em;
  }

  .hero img {
    position: relative;
    right: -28px
  }
}
