.skills h1, h2 {
    text-align: center;
    filter: drop-shadow(2px 4px 8px rgb(171, 171, 171));
    margin-bottom: 2em;


}

.img-container {
    height: 800px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.skills h3 {
    text-align: center;
    filter: drop-shadow(2px 4px 8px rgb(137, 137, 137));
    font-size: 1.3em;
}

.skill-img-div {
  margin: auto;
  padding: 1em;
  border-radius: 10px;
}

.skill-img-div:hover {
    background-color: black;
    color: white;
}

.skill-img {
    width: 4em;
    filter: drop-shadow(2px 4px 8px rgb(255, 255, 255))
}

